/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding-block-start: 100px;
  font-family: var(--main-font-family);
  font-variation-settings: "wght" var(--card-text-weight);
  background-color: var(--background-page-color);
  color: var(--accent-page-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  justify-items: center;
  justify-content: center;
  font-family: var(--sub-font-family);
  text-transform: uppercase;
  margin-block-end: 100px;
}

.card {
  border: 2px solid var(--card-border-color);
  width: clamp(23.438rem, 16.285rem + 30.52vw, 43.75rem);
  background-color: var(--card-background-color);
  margin-inline: auto;
  max-inline-size: 696px;
}

.header_subtitle {
  font-size: clamp(3.063rem, 2.71rem + 1.5vw, 4.063rem);
  padding-block-start: clamp(7.5rem, 7.148rem + 1.5vw, 8.5rem);
  display: flex;
  justify-content: center;
}

.header_title {
  font-size: clamp(0.875rem, 0.677rem + 0.85vw, 1.438rem);
  display: flex;
  justify-content: center;
  padding-block-start: 20px;
}

/* стили кнопок nav */
.header__theme-menu {
  margin-block: 25px;
}

.theme-menu__list {
  display: grid;
  gap: 10px;
  padding-inline-start: 20px;
}

.theme-menu__button {
  position: relative;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  background: transparent;
  transition: opacity 0.3s ease;
  cursor: pointer;
  appearance: none;
}

.theme-menu__button::after {
  position: absolute;
  content: '';
  inline-size: 100%;
  block-size: 2px;
  inset-inline-start: 0;
  inset-block-end: -3px;
  background-color: var(--accent-page-color);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}


.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  animation: arrow 0.5s ease-in-out infinite alternate;
  inset-inline-start: -20px;
  inset-block-start: 0px;
}
/* стили кнопок nav */


.main {
  display: grid;
  justify-items: center;
  gap: 57px;
  padding-block-end: 103px;
}

/* cписок карточек */
.card_list {
  display: grid;
  gap: 52px;
}
/* cписок карточек */

/* верхняя часть карточки */
.head_card {
  border-block-end: 2px solid var(--card-border-color);
  padding-block-start: 4px;
  padding-block-end: 4px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}
/* верхняя часть карточки */

/* заголовок карточки */
.title_card {
  font-size: 18px;
  line-height: normal;
  font-variation-settings: "wght" var(--card-title-weight);
}

/* заголовок карточки */
.card_content {
  position: relative;
  overflow: hidden;
}
/* заголовок карточки */

/*лэйбл на карточке */
.img_label {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  font-family: var(--sub-font-family);
  color: var(--card-border-color);
  font-size: 14px;
  line-height: normal;
  text-transform: uppercase;
  inset-inline-end: 13px;
  inset-block-start: 24px;
  text-shadow: 0 0 1px var(--background-page-color);
  mix-blend-mode: hard-light;
}
/*лэйбл на карточке */

/* изображение карточки */
.card_img {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}
/* изображение карточки */

/* описательная часть карточки */
.content_card {
  display: grid;
  gap: 27px;
  border-block-start: 2px solid var(--card-border-color);
  padding-block-start: 30px;
  padding-inline-end: 30px;
  padding-block-end: 0;
  padding-inline-start: 25px;
  font-size: 18px;
  line-height: 21px;
}
/* описательная часть карточки */

/* секция с сердцем и кнопкой лайк */
.footer_card {
  display: flex;
  justify-content: end;
  align-items: stretch;
  gap: 5px;
  padding-block-start: 25px;
  padding-inline-start: 25px;
  padding-block-end: 23px;
  padding-inline-end: 25px;
}
/* секция с сердцем и кнопкой лайк */


/* настройка кнопки с сердцем */
.card__icon-button {
  display: grid;
  border: 2px solid transparent;
  padding: 0;
  background: transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
  appearance: none;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--card-border-color);
}
/* настройка кнопки с сердцем */

/* общая настройка кнопки */
.button {
  position: relative;
  z-index: 1;
  border: 2px solid var(--accent-page-color);
  padding: 10px 36px;
  font-family: var(--sub-font-family);
  font-size: 14px;
  text-transform: inherit;
  background: var(--background-page-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  appearance: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--accent-page-color);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: var(--accent-page-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
}

.button:hover::before {
  transform: scaleX(1);
}
/* общая настройка кнопки */

/* кнопка меняла размеры при изменении текста */
.card__like-button {
  display: inline-block;
  min-width: 130px; /* минимальная ширина */
  max-width: 130px; /* максимальная ширина */
}
/* кнопка меняла размеры при изменении текста */

/* текст на кнопке лайк */
.button__text {
  color: var(--like-button-color);
  mix-blend-mode: difference;
  display: flex;
  justify-content: center;
}
/* текст на кнопке лайк */

/* иконка с сердцем */
.like-icon {
  block-size: 36px;
  inline-size: 39px;
}
/* иконка с сердцем */


.save-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* кнопка сохранить */
.save_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
}
/* кнопка сохранить */

.button__icon {
  color: var(--like-button-color);
  mix-blend-mode: difference;
  block-size: 22px;
  inline-size: 22px;
}

/* модальное окно */
.modal {
  border: 2px solid var(--accent-page-color);
  padding: 25px 30px;
  color: var(--accent-page-color);
  font-family: var(--sub-font-family);
  line-height: 1.5;
  text-transform: uppercase;
  background: var(--background-page-color);
  max-inline-size: 353px;
  overflow: hidden;
}

.modal[open] {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  gap: 30px;
}

.modal::backdrop {
  opacity: 0.75;
  background: rgba(0, 0, 0, 1);
}

.modal_container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.modal_floppy {
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 39px;
}

.modal__button {
  inline-size: 100%;
}
/* модальное окно */


/* классы для фильтров */
.filter-brightness {
  filter: brightness(2);
}

.filter-blur {
  filter: blur(5px);
}

.filter-sepia {
  filter: sepia(100%);
}

.filter-grayscale {
  filter: grayscale(100%);
}

.filter-saturate {
  filter: saturate(200%);
}

.filter-invert {
  filter: invert(100%);
}

.filter-mix-b-c-g {
  filter: brightness(120%) contrast(90%) grayscale(50%);
}
/* классы для фильтров */

@media (width <= 375px) {

  .modal {
    padding: 28px 34px 28px 40px;
    max-inline-size: 340px;
  }

  .save_button {
    flex-direction: column;
  }

  .button__icon {
    block-size: 28px;
    inline-size: 28px;
  }
}

@supports (
  (-webkit-text-stroke: 1px var(--background-page-color)) or
    (text-stroke: 1px var(--background-page-color))
) {
  .img_label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--background-page-color);
    text-stroke: 1px var(--background-page-color);
  }
}
