/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font-family: "Inter", sans-serif;
  --sub-font-family: "PressStart2P", sans-serif;

  --background-page-color: rgba(255, 255, 255, 1);
  --accent-page-color: rgba(0, 0, 0, 1);

  --background-image: repeating-linear-gradient(to left, #d3d3d3 0 2px,#d3d3d300 2px 4px), repeating-linear-gradient(to bottom, #d3d3d3 0 2px, #d3d3d300 2px 4px),
  repeating-linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);

  --card-border-color: rgba(0, 0, 0, 1);
  --card-background-color: rgba(255, 255, 255, 1);

  --like-button-color: rgba(255, 255, 255, 1);


/* цвета для иконки сердца */
--heart-contour-color: rgba(0, 0, 0, 1);
--heart-main-body-color: none;
--heart-sparks-color: rgba(255, 0, 0, 1);
/* цвета для иконки сердца */
}
